<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SEC Diff</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
    </head>
    <body>
        <div class="row">
            <div class="medium-10 medium-centered small-12 small-centered columns">
                <div id="content">
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://en.wikipedia.org/w/index.php?title=User:Cacycle/diff.js&action=raw&ctype=text/javascript"></script>
        <script type="text/javascript">
         var wikEdDiff = new WikEdDiff();
         var diffHTML = document.createElement('div');
         $( document ).ready(function() {
             $.get('public/new.txt', function(newVersionString) {
                 $.get('public/old.txt', function(oldVersionString) {
                     diffHTML.innerHTML = wikEdDiff.diff( oldVersionString, newVersionString );
                     document.getElementById('content').appendChild(diffHTML);
                 });
             });
         });
        </script>
    </body>
</html>
